<!DOCTYPE html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#">
		 <meta property="fb:app_id" content="294833607242566">
		 <meta property="og:type" content="music.song">
		 <meta property="og:url" content="{{ track.url }}">
		 <meta property="og:title" content="{{ track.name }}">
		 <meta property="og:musician" content="{{ track.artist }}">
		 <meta property="og:description" content="">
		 <meta property="og:image" content="{{ track.image }}">
	</head>
</html>