<header class="wrapper main-header">
	<hgroup class="left-section">
		<a href="http://songtagapp.com/">
			<h1 class="h1">
				<img class="logo" src="images/logo.png" alt="SongTag">
			</h1>
		</a>
		<h2 class="h1 bottom-left-section">Tag, your hit.</h2>
	</hgroup>
	<iframe class="right-section" src="http://player.vimeo.com/video/40810423?color=80C639" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</header>