@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700|Lato|Open+Sans+Condensed:700|Bree+Serif);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../application/sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../application/sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../application/sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../application/sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../application/sass/partials/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../application/sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: inherit;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../application/sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../application/sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../application/sass/partials/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../application/sass/partials/_normalize.scss */
h1, .h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../application/sass/partials/_normalize.scss */
h2, .h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../application/sass/partials/_normalize.scss */
h3, .h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../application/sass/partials/_normalize.scss */
h4, .h4 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 147, ../application/sass/partials/_normalize.scss */
h5, .h5, h6, .h6 {
  font-size: 1em;
  margin: 1.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 156, ../application/sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 165, ../application/sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 169, ../application/sass/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 177, ../application/sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 185, ../application/sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 195, ../application/sass/partials/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 207, ../application/sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 217, ../application/sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 230, ../application/sass/partials/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 237, ../application/sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 242, ../application/sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 252, ../application/sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 259, ../application/sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 263, ../application/sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 279, ../application/sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 283, ../application/sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 293, ../application/sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 302, ../application/sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, ../application/sass/partials/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 327, ../application/sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 340, ../application/sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 353, ../application/sass/partials/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 361, ../application/sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 373, ../application/sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 389, ../application/sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 406, ../application/sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 417, ../application/sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
	  Known issue: excess padding remains in IE6
 */
/* line 429, ../application/sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 441, ../application/sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 453, ../application/sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 463, ../application/sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 473, ../application/sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 487, ../application/sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url(/fonts/fontawesome-webfont.eot);
  src: url(/fonts/fontawesome-webfont.eot?#iefix) format('eot'), url(/fonts/fontawesome-webfont.woff) format('woff'), url(/fonts/fontawesome-webfont.ttf) format('truetype'), url(/fonts/fontawesome-webfont.otf) format('opentype'), url(/fonts/fontawesome-webfont.svgz#FontAwesomeRegular) format('svg'), url(/fonts/fontawesome-webfont.svg#FontAwesomeRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */
/* line 42, ../application/sass/partials/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 53, ../application/sass/partials/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 60, ../application/sass/partials/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 69, ../application/sass/partials/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 75, ../application/sass/partials/_font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 82, ../application/sass/partials/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 90, ../application/sass/partials/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 96, ../application/sass/partials/_font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 103, ../application/sass/partials/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 107, ../application/sass/partials/_font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 111, ../application/sass/partials/_font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 118, ../application/sass/partials/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 119, ../application/sass/partials/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 120, ../application/sass/partials/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 121, ../application/sass/partials/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 122, ../application/sass/partials/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 123, ../application/sass/partials/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 124, ../application/sass/partials/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 125, ../application/sass/partials/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 126, ../application/sass/partials/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 127, ../application/sass/partials/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 128, ../application/sass/partials/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 129, ../application/sass/partials/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 130, ../application/sass/partials/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 131, ../application/sass/partials/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 132, ../application/sass/partials/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 134, ../application/sass/partials/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 135, ../application/sass/partials/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 136, ../application/sass/partials/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 137, ../application/sass/partials/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 138, ../application/sass/partials/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 139, ../application/sass/partials/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 140, ../application/sass/partials/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 141, ../application/sass/partials/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 142, ../application/sass/partials/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 143, ../application/sass/partials/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 144, ../application/sass/partials/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 145, ../application/sass/partials/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 146, ../application/sass/partials/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 147, ../application/sass/partials/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 148, ../application/sass/partials/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 151, ../application/sass/partials/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 152, ../application/sass/partials/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 153, ../application/sass/partials/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 154, ../application/sass/partials/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 155, ../application/sass/partials/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 156, ../application/sass/partials/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 157, ../application/sass/partials/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 158, ../application/sass/partials/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 159, ../application/sass/partials/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 160, ../application/sass/partials/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 161, ../application/sass/partials/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 162, ../application/sass/partials/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 163, ../application/sass/partials/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 164, ../application/sass/partials/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 165, ../application/sass/partials/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 167, ../application/sass/partials/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 168, ../application/sass/partials/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 169, ../application/sass/partials/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 170, ../application/sass/partials/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 171, ../application/sass/partials/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 172, ../application/sass/partials/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 173, ../application/sass/partials/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 174, ../application/sass/partials/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 175, ../application/sass/partials/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 176, ../application/sass/partials/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 177, ../application/sass/partials/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 178, ../application/sass/partials/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 179, ../application/sass/partials/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 180, ../application/sass/partials/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 181, ../application/sass/partials/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 183, ../application/sass/partials/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 184, ../application/sass/partials/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 185, ../application/sass/partials/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 186, ../application/sass/partials/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 187, ../application/sass/partials/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 188, ../application/sass/partials/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 189, ../application/sass/partials/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 190, ../application/sass/partials/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 191, ../application/sass/partials/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 192, ../application/sass/partials/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 193, ../application/sass/partials/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 194, ../application/sass/partials/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 195, ../application/sass/partials/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 196, ../application/sass/partials/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 197, ../application/sass/partials/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 199, ../application/sass/partials/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 200, ../application/sass/partials/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 201, ../application/sass/partials/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 202, ../application/sass/partials/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 203, ../application/sass/partials/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 204, ../application/sass/partials/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 205, ../application/sass/partials/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 206, ../application/sass/partials/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 207, ../application/sass/partials/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 208, ../application/sass/partials/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 209, ../application/sass/partials/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 210, ../application/sass/partials/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 211, ../application/sass/partials/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 212, ../application/sass/partials/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 213, ../application/sass/partials/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 215, ../application/sass/partials/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 216, ../application/sass/partials/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 217, ../application/sass/partials/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 218, ../application/sass/partials/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 219, ../application/sass/partials/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 220, ../application/sass/partials/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 221, ../application/sass/partials/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 222, ../application/sass/partials/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 223, ../application/sass/partials/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 224, ../application/sass/partials/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 225, ../application/sass/partials/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 226, ../application/sass/partials/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 227, ../application/sass/partials/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 228, ../application/sass/partials/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 229, ../application/sass/partials/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 231, ../application/sass/partials/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 232, ../application/sass/partials/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 233, ../application/sass/partials/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 234, ../application/sass/partials/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 235, ../application/sass/partials/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 236, ../application/sass/partials/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 237, ../application/sass/partials/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 238, ../application/sass/partials/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 239, ../application/sass/partials/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 240, ../application/sass/partials/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 241, ../application/sass/partials/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 242, ../application/sass/partials/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 243, ../application/sass/partials/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 244, ../application/sass/partials/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 245, ../application/sass/partials/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 247, ../application/sass/partials/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 248, ../application/sass/partials/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 249, ../application/sass/partials/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 250, ../application/sass/partials/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 251, ../application/sass/partials/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 252, ../application/sass/partials/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 253, ../application/sass/partials/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 254, ../application/sass/partials/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 255, ../application/sass/partials/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 256, ../application/sass/partials/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 257, ../application/sass/partials/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 258, ../application/sass/partials/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 259, ../application/sass/partials/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 260, ../application/sass/partials/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 261, ../application/sass/partials/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 263, ../application/sass/partials/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 264, ../application/sass/partials/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 265, ../application/sass/partials/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 266, ../application/sass/partials/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 267, ../application/sass/partials/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 46, ../application/sass/style.scss */
iframe {
  border: 0;
}

/* line 50, ../application/sass/style.scss */
input, textarea {
  padding: 0.5em;
}

/* line 52, ../application/sass/style.scss */
input, textarea {
  outline: none;
}
/* line 54, ../application/sass/style.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
}

/* line 56, ../application/sass/style.scss */
i {
  cursor: pointer;
}

/* line 58, ../application/sass/style.scss */
a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
/* line 62, ../application/sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 68, ../application/sass/style.scss */
body {
  margin: 0 auto;
  font: 100%/1.7 "Lato", sans-serif;
  color: #4d4d4d;
}

/* line 72, ../application/sass/style.scss */
.h1, .h2 {
  font-family: "Open Sans Condensed";
}

/* line 74, ../application/sass/style.scss */
.first-child, .popups-item > h1 {
  margin-top: 0 !important;
}

/* line 76, ../application/sass/style.scss */
.last-child {
  margin-bottom: 0 !important;
}

/* line 78, ../application/sass/style.scss */
.wrapper {
  margin: 1em;
  position: relative;
}

/* line 82, ../application/sass/style.scss */
.clearfix, .wrapper, .indent-content, .facebook-attachment, .facebook-object .spotify-search, .tags-message-form, .sidebar .activity .fb-activity, .stream, .home .main-header, .home .steps {
  overflow: hidden;
  *zoom: 1;
}

/* line 84, ../application/sass/style.scss */
.thumbnail-container {
  float: left;
  height: 5em;
}

/* line 87, ../application/sass/style.scss */
.thumbnail-left, .indent-image {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

/* line 93, ../application/sass/style.scss */
.thumbnail-right, .tags-list-item .icon-remove {
  float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/* line 103, ../application/sass/style.scss */
.hidden, .popups, .notifications-item > h1, .results-list {
  display: none;
}

/* line 105, ../application/sass/style.scss */
.border-box, .results-list, .canvas .search-box, .canvas input[type="search"], .canvas .message-box, .canvas .tags-message-form .facebook-form-field, .tags-message-form .canvas .facebook-form-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 107, ../application/sass/style.scss */
.stretch, .canvas .search-box, .canvas input[type="search"], .canvas .message-box, .canvas .tags-message-form .facebook-form-field, .tags-message-form .canvas .facebook-form-field, .stream .load-more-button {
  width: 100%;
}

/* line 109, ../application/sass/style.scss */
.button, input[type="submit"], input[type="button"] {
  font-weight: bold;
  padding: 0.5em 0.75em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: white;
  border: 1px solid #395693;
  text-shadow: 0 1px #1d2b49;
  background: #476bb8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c89c6), color-stop(100%, #476bb8)), #476bb8;
  background: -webkit-linear-gradient(top, #6c89c6, #476bb8), #476bb8;
  background: -moz-linear-gradient(top, #6c89c6, #476bb8), #476bb8;
  background: -o-linear-gradient(top, #6c89c6, #476bb8), #476bb8;
  background: -ms-linear-gradient(top, #6c89c6, #476bb8), #476bb8;
  background: linear-gradient(top, #6c89c6, #476bb8), #476bb8;
}
/* line 35, ../application/sass/style.scss */
.button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  text-shadow: 0 1px #0e1525;
  background: #395693;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #476bb8), color-stop(100%, #395693)), #395693;
  background: -webkit-linear-gradient(top, #476bb8, #395693), #395693;
  background: -moz-linear-gradient(top, #476bb8, #395693), #395693;
  background: -o-linear-gradient(top, #476bb8, #395693), #395693;
  background: -ms-linear-gradient(top, #476bb8, #395693), #395693;
  background: linear-gradient(top, #476bb8, #395693), #395693;
}
/* line 38, ../application/sass/style.scss */
.button:active, input[type="submit"]:active, input[type="button"]:active {
  -webkit-box-shadow: inset 0 1px 5px #2b406e;
  -moz-box-shadow: inset 0 1px 5px #2b406e;
  box-shadow: inset 0 1px 5px #2b406e;
}

/* line 113, ../application/sass/style.scss */
.block-pseudo, .spotify-link-artwork:after {
  content: "";
  display: block;
}

/* line 116, ../application/sass/style.scss */
.light-border, .spotify-form-field, .facebook-form-field {
  border: 1px solid #cccccc;
}

/* line 118, ../application/sass/style.scss */
.light-border-bottom, .stream .stream-item:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}

/* line 120, ../application/sass/style.scss */
.light-text, .spotify-header, .footer, .facebook-caption, .stream-item-header .icon-chevron-right, .tags-list-item .icon-remove {
  color: #999999;
}

/* line 122, ../application/sass/style.scss */
.block-link {
  display: block;
  font-weight: normal;
}
/* line 125, ../application/sass/style.scss */
.block-link:hover {
  text-decoration: none;
}
/* line 127, ../application/sass/style.scss */
.block-link:hover h1 {
  text-decoration: underline;
}

/* line 129, ../application/sass/style.scss */
.popups {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
  z-index: 3;
  padding: 1em;
}
/* line 141, ../application/sass/style.scss */
.popups.visible {
  background: rgba(0, 0, 0, 0.6);
  background: white, rgba(0, 0, 0, 0.6);
}

/* line 143, ../application/sass/style.scss */
.popups-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 1em 1.5em;
  background-color: white;
  margin: 4em auto;
  max-width: 40em;
}
/* line 152, ../application/sass/style.scss */
.popups-item .icon-remove {
  float: right;
}

/* line 156, ../application/sass/style.scss */
.notifications {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}

/* line 164, ../application/sass/style.scss */
.notifications-item {
  position: relative;
  padding: 1em 1.5em;
  font-size: larger;
}
/* line 41, ../application/sass/style.scss */
.notifications-item .vertical-spacing, .notifications-item p, .notifications-item h1, .notifications-item ul, .notifications-item ol, .notifications-item .facebook-attachment, .notifications-item .facebook-object .spotify-link, .facebook-object .notifications-item .spotify-link, .notifications-item .wall-post .spotify-link, .wall-post .notifications-item .spotify-link {
  margin: 1em 0;
}
/* line 169, ../application/sass/style.scss */
.notifications-item .icon-ok {
  float: left;
  margin-right: 1em;
}
/* line 172, ../application/sass/style.scss */
.notifications-item .icon-remove {
  float: right;
}

/* line 176, ../application/sass/style.scss */
.facebook-blue, .facebook-link {
  color: #395693;
}

/* line 178, ../application/sass/style.scss */
.spotify-green, .spotify-header .spotify-link, .spotify-track-name, .spotify-track-artist {
  color: #669e2e;
}

/* line 180, ../application/sass/style.scss */
.text-center {
  text-align: center;
}

/* line 41, ../application/sass/style.scss */
.vertical-spacing, p, h1, ul, ol, .facebook-attachment, .facebook-object .spotify-link, .wall-post .spotify-link {
  margin: 1em 0;
}

/* line 184, ../application/sass/style.scss */
.spotify-header {
  font-size: smaller;
  text-align: right;
}
/* line 190, ../application/sass/style.scss */
.spotify-header .spotify-header-logo {
  margin-left: 0.5em;
  height: 1.8em;
  vertical-align: middle;
}

/* line 194, ../application/sass/style.scss */
.footer {
  font-size: smaller;
  text-align: center;
}

/* line 198, ../application/sass/style.scss */
.horizontal-list {
  list-style: none;
}
/* line 200, ../application/sass/style.scss */
.horizontal-list .horizontal-list-item {
  display: inline;
}
/* line 202, ../application/sass/style.scss */
.horizontal-list .horizontal-list-item:not(:last-child):after {
  margin: 0 0.25em;
  content: " •";
}

/*
z-index order:
1: .results-list;
2: .logo, .inner-inner-wrapper;
3: .popups;
4: .notifications;
*/
/* line 14, ../application/sass/_canvas.scss */
.spotify-form-field {
  color: #70924e;
}
/* line 23, ../application/sass/style.scss */
.spotify-form-field:focus {
  border-color: #80c639;
}
/* line 25, ../application/sass/style.scss */
.spotify-form-field:focus::-webkit-input-placeholder {
  color: #a3c481;
}

/* line 16, ../application/sass/_canvas.scss */
.facebook-form-field {
  color: #55668b;
}
/* line 23, ../application/sass/style.scss */
.facebook-form-field:focus {
  border-color: #476bb8;
}
/* line 25, ../application/sass/style.scss */
.facebook-form-field:focus::-webkit-input-placeholder {
  color: #8899be;
}

/* line 20, ../application/sass/_canvas.scss */
.facebook-name {
  color: #476bb8;
}

/* line 22, ../application/sass/_canvas.scss */
.spotify-image {
  width: 6em;
}

/* line 26, ../application/sass/_canvas.scss */
.facebook-image {
  width: 4em;
  height: 4em;
}

/* line 29, ../application/sass/_canvas.scss */
.small-facebook-image, .spotify-search .facebook-image {
  width: 3em;
  height: 3em;
}

/* line 32, ../application/sass/_canvas.scss */
.x-small-facebook-image, .tags-list-item .facebook-image, .sidebar .facebook-search .results-list-item .facebook-image {
  width: 2em;
  height: 2em;
}

/* line 37, ../application/sass/_canvas.scss */
.spotify-search .results-list {
  border-color: #669e2e;
}
/* line 39, ../application/sass/_canvas.scss */
.spotify-search .facebook-image {
  margin: 0;
  margin-right: 0.5em;
}
/* line 43, ../application/sass/_canvas.scss */
.spotify-search .spotify-track-name {
  margin: 0;
}
/* line 46, ../application/sass/_canvas.scss */
.spotify-search .results-list-item.is-selected {
  background-color: #669e2e;
}
/* line 48, ../application/sass/_canvas.scss */
.spotify-search .results-list-item.is-selected .spotify-track-name {
  color: white;
}
/* line 50, ../application/sass/_canvas.scss */
.spotify-search .results-list-item.is-selected .spotify-track-artist {
  color: #cce8b0;
}

/* line 53, ../application/sass/_canvas.scss */
.facebook-search .results-list {
  border-color: #395693;
}
/* line 55, ../application/sass/_canvas.scss */
.facebook-search .facebook-name {
  margin: 0;
}
/* line 58, ../application/sass/_canvas.scss */
.facebook-search .results-list-item.is-selected {
  background-color: #476bb8;
}
/* line 60, ../application/sass/_canvas.scss */
.facebook-search .results-list-item.is-selected .facebook-name {
  color: white;
}

/* line 63, ../application/sass/_canvas.scss */
.facebook-attachment h1:first-child {
  margin-top: 0;
}

/* line 68, ../application/sass/_canvas.scss */
.facebook-link .facebook-name {
  display: inline;
}
/* line 70, ../application/sass/_canvas.scss */
.facebook-link h1 {
  margin-top: 0 !important;
}

/* line 72, ../application/sass/_canvas.scss */
.facebook-target-name {
  display: inline;
}

/* line 74, ../application/sass/_canvas.scss */
.facebook-link-image {
  border: 2px solid #395693;
}

/* line 76, ../application/sass/_canvas.scss */
.spotify-link-artwork {
  position: relative;
  border: 2px solid #b3dd88;
}
/* line 79, ../application/sass/_canvas.scss */
.spotify-link-artwork:after {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  background-image: url("/images/play-buttons.png");
  background-repeat: no-repeat;
}
/* line 90, ../application/sass/_canvas.scss */
.spotify-link:hover .spotify-link-artwork:after {
  background-position: 0 -50px;
}
/* line 92, ../application/sass/_canvas.scss */
.spotify-link-artwork img {
  width: 6em;
  display: block;
}

/* line 96, ../application/sass/_canvas.scss */
.stream-item-header .icon-chevron-right {
  margin: 0 0.5em;
}

/* line 103, ../application/sass/_canvas.scss */
.popups-item .results-list {
  left: 5.5em;
  right: 2em;
}

/* line 106, ../application/sass/_canvas.scss */
.notifications-item {
  background-color: #80c639;
  border-bottom: 1px solid #669e2e;
  color: #334f17;
  text-shadow: 0 1px #cce8af;
}
/* line 111, ../application/sass/_canvas.scss */
.notifications-item .spotify-track-name, .notifications-item .spotify-track-artist {
  color: #4d7722;
}
/* line 113, ../application/sass/_canvas.scss */
.notifications-item .facebook-name {
  color: #395693;
}

/* line 115, ../application/sass/_canvas.scss */
.facebook-object, .wall-post {
  position: relative;
}
/* line 41, ../application/sass/style.scss */
.facebook-object .vertical-spacing, .facebook-object p, .facebook-object h1, .facebook-object ul, .facebook-object ol, .facebook-object .facebook-attachment, .facebook-object .spotify-link, .facebook-object .wall-post .spotify-link, .wall-post .facebook-object .spotify-link, .wall-post .vertical-spacing, .wall-post p, .wall-post h1, .wall-post ul, .wall-post ol, .wall-post .facebook-attachment, .wall-post .facebook-object .spotify-link, .facebook-object .wall-post .spotify-link, .wall-post .spotify-link {
  margin: 0.5em 0;
}
/* line 118, ../application/sass/_canvas.scss */
.facebook-object .spotify-link, .wall-post .spotify-link {
  display: block;
}

/* line 122, ../application/sass/_canvas.scss */
.facebook-object .spotify-search, .facebook-object .tags-list-item {
  padding: 0.5em;
  background-color: #f0f8e7;
  border-bottom: 1px solid #b3dd88;
}

/* line 128, ../application/sass/_canvas.scss */
.results-list {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  margin-top: -1px !important;
  border: 1px solid #4d4d4d;
  border-bottom-width: 2px;
}

/* line 140, ../application/sass/_canvas.scss */
.results-list-item {
  padding: 0.5em;
}
/* line 142, ../application/sass/_canvas.scss */
.results-list-item.is-selected {
  color: white;
}

/* line 146, ../application/sass/_canvas.scss */
.tags-list-item:hover .icon-remove {
  display: block;
}
/* line 148, ../application/sass/_canvas.scss */
.tags-list-item .light-text, .tags-list-item .spotify-header, .tags-list-item .footer, .tags-list-item .facebook-caption, .tags-list-item .stream-item-header .icon-chevron-right, .stream-item-header .tags-list-item .icon-chevron-right, .tags-list-item .icon-remove {
  color: #90948a;
}
/* line 150, ../application/sass/_canvas.scss */
.tags-list-item .icon-remove {
  display: none;
}
/* line 155, ../application/sass/_canvas.scss */
.tags-list-item .tags-message {
  font-style: italic;
}

/* line 157, ../application/sass/_canvas.scss */
.tags-message-form {
  text-align: right;
}
/* line 160, ../application/sass/_canvas.scss */
.tags-message-form .facebook-form-field {
  margin-bottom: 0.5em;
}
/* line 163, ../application/sass/_canvas.scss */
.tags-message-form .button, .tags-message-form input[type="submit"], .tags-message-form input[type="button"] {
  margin-left: 0.5em;
}

/* line 166, ../application/sass/_canvas.scss */
.canvas {
  max-width: 1000px;
}
/* line 169, ../application/sass/_canvas.scss */
.canvas .spotify-header > span {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 700px) {
  /* line 169, ../application/sass/_canvas.scss */
  .canvas .spotify-header > span {
    position: static;
  }
}
/* line 176, ../application/sass/_canvas.scss */
.canvas .search-box, .canvas input[type="search"], .canvas .search-box::-webkit-input-placeholder, .canvas input[type="search"]::-webkit-input-placeholder, .canvas .message-box, .canvas .tags-message-form .facebook-form-field, .tags-message-form .canvas .facebook-form-field, .canvas .message-box::-webkit-input-placeholder, .canvas .tags-message-form .facebook-form-field::-webkit-input-placeholder, .tags-message-form .canvas .facebook-form-field::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 178, ../application/sass/_canvas.scss */
.sidebar {
  padding-right: 2em;
  float: left;
  width: 15em;
}
/* line 183, ../application/sass/_canvas.scss */
.sidebar .logo {
  max-width: 100%;
}
@media screen and (max-width: 700px) {
  /* line 178, ../application/sass/_canvas.scss */
  .sidebar {
    padding-right: 0;
    width: auto;
    margin-right: 0;
    float: none;
  }
}
@media screen and (min-width: 700px) {
  /* line 195, ../application/sass/_canvas.scss */
  .sidebar .main-header .logo, .sidebar .main-header .inner-wrapper {
    height: 7.913em;
  }
  /* line 197, ../application/sass/_canvas.scss */
  .sidebar .main-header .logo, .sidebar .main-header .inner-wrapper {
    width: 18em;
  }
  /* line 199, ../application/sass/_canvas.scss */
  .sidebar .main-header .logo, .sidebar .main-header .inner-inner-wrapper {
    top: 0;
    position: fixed;
    z-index: 2;
  }
  /* line 203, ../application/sass/_canvas.scss */
  .sidebar .main-header .inner-inner-wrapper {
    width: 15em;
    pointer-events: none;
    height: 15.826em;
    background: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #ffffff), color-stop(80%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 80%);
    background: -moz-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 80%);
    background: -o-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 80%);
    background: -ms-linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 80%);
    background: linear-gradient(top, #ffffff 30%, rgba(255, 255, 255, 0) 80%);
  }
  /* line 209, ../application/sass/_canvas.scss */
  .sidebar .main-header .logo {
    pointer-events: all;
    cursor: pointer;
    padding-top: 2em;
    max-width: 100%;
  }
}
@media screen and (min-width: 700px) and screen and (max-width: 700px) {
  /* line 209, ../application/sass/_canvas.scss */
  .sidebar .main-header .logo {
    display: block;
    margin: 0 auto;
  }
}
/* line 217, ../application/sass/_canvas.scss */
.sidebar .friends, .sidebar .all-friends {
  position: relative;
}
/* line 219, ../application/sass/_canvas.scss */
.sidebar .activity {
  display: none;
}
/* line 221, ../application/sass/_canvas.scss */
.sidebar .activity .fb-activity {
  margin-left: -10px;
}
/* line 224, ../application/sass/_canvas.scss */
.sidebar .activity .fb-activity iframe {
  max-width: 100% !important;
}
/* line 227, ../application/sass/_canvas.scss */
.sidebar .search-form, .sidebar .results-list {
  font-size: 0.8em;
}

/* line 233, ../application/sass/_canvas.scss */
.stream {
  padding-left: 2em;
  border-left: 1px solid #e6e6e6;
}
@media screen and (max-width: 700px) {
  /* line 233, ../application/sass/_canvas.scss */
  .stream {
    padding-left: 0;
    border-left: 0;
  }
}
/* line 240, ../application/sass/_canvas.scss */
.stream .posts {
  font-size: 0.8em;
}
/* line 242, ../application/sass/_canvas.scss */
.stream .posts.is-loading {
  opacity: 0.5;
  min-height: 30em;
}
/* line 246, ../application/sass/_canvas.scss */
.stream.is-searching .stream-item:not(.is-active) {
  opacity: 0.5;
}
/* line 248, ../application/sass/_canvas.scss */
.stream .stream-item {
  padding: 1em 0;
}
/* line 253, ../application/sass/_canvas.scss */
.stream .spotify-search .results-list {
  left: 9em;
  right: 0.5em;
  margin-left: -2px;
}

/* line 1, ../application/sass/_home.scss */
.home {
  max-width: 900px;
}
/* line 5, ../application/sass/_home.scss */
.home .main-header .left-section {
  position: relative;
  z-index: 1;
  float: left;
  width: 52%;
}
/* line 10, ../application/sass/_home.scss */
.home .main-header .left-section .logo {
  width: 100%;
}
/* line 12, ../application/sass/_home.scss */
.home .main-header .right-section {
  position: absolute;
  width: 52%;
  height: 100%;
  right: 0;
}
/* line 17, ../application/sass/_home.scss */
.home .main-header .bottom-left-section {
  position: absolute;
  bottom: 0;
  margin: 0;
}
@media screen and (max-width: 500px) {
  /* line 3, ../application/sass/_home.scss */
  .home .main-header {
    overflow: visible;
  }
  /* line 23, ../application/sass/_home.scss */
  .home .main-header .left-section {
    float: none;
    width: auto;
  }
  /* line 26, ../application/sass/_home.scss */
  .home .main-header .right-section {
    position: static;
    width: auto;
    height: auto;
    width: 100%;
    height: 15em;
  }
  /* line 32, ../application/sass/_home.scss */
  .home .main-header .bottom-left-section {
    position: static;
    margin: auto;
  }
}
/* line 35, ../application/sass/_home.scss */
.home .steps {
  counter-reset: instruction;
}
/* line 38, ../application/sass/_home.scss */
.home .steps .step {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333%;
  float: left;
  padding-right: 2em;
}
@media screen and (max-width: 700px) {
  /* line 38, ../application/sass/_home.scss */
  .home .steps .step {
    width: auto;
    float: none;
    padding-right: 0;
  }
}
/* line 47, ../application/sass/_home.scss */
.home .steps .step h1:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: white;
  padding: 0.1em 0.5em;
  margin-right: 0.5em;
  counter-increment: instruction;
  content: counter(instruction);
  background-color: #80c639;
}
/* line 55, ../application/sass/_home.scss */
.home .facebook-login-button {
  font-size: larger;
}
